# MLR Models for Milage of Car

In [1]:
# Importing Modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model as lm #For Linear Regression Model
import statsmodels.api as sm
import seaborn as sns
from sklearn.model_selection import train_test_split #For sepration o data into testSet & trainSet
from sklearn.metrics import mean_squared_error, r2_score #For evaluation model

In [2]:
#Reading Data
data = pd.read_csv("auto-mpg.data-original.txt",sep=" ",header=None,error_bad_lines=False,skipinitialspace=True)
data.head()

b'Skipping line 12: expected 10 fields, saw 11\nSkipping line 15: expected 10 fields, saw 11\nSkipping line 18: expected 10 fields, saw 11\nSkipping line 20: expected 10 fields, saw 11\nSkipping line 21: expected 10 fields, saw 11\nSkipping line 26: expected 10 fields, saw 11\nSkipping line 40: expected 10 fields, saw 11\nSkipping line 51: expected 10 fields, saw 11\nSkipping line 53: expected 10 fields, saw 11\nSkipping line 77: expected 10 fields, saw 11\nSkipping line 81: expected 10 fields, saw 11\nSkipping line 82: expected 10 fields, saw 11\nSkipping line 83: expected 10 fields, saw 11\nSkipping line 90: expected 10 fields, saw 12\nSkipping line 92: expected 10 fields, saw 11\nSkipping line 101: expected 10 fields, saw 11\nSkipping line 102: expected 10 fields, saw 11\nSkipping line 103: expected 10 fields, saw 11\nSkipping line 122: expected 10 fields, saw 11\nSkipping line 123: expected 10 fields, saw 11\nSkipping line 141: expected 10 fields, saw 11\nSkipping line 145: expected 10 fields, saw 11\nSkipping line 146: expected 10 fields, saw 11\nSkipping line 147: expected 10 fields, saw 11\nSkipping line 195: expected 10 fields, saw 11\nSkipping line 216: expected 10 fields, saw 11\nSkipping line 225: expected 10 fields, saw 11\nSkipping line 237: expected 10 fields, saw 11\nSkipping line 238: expected 10 fields, saw 11\nSkipping line 244: expected 10 fields, saw 11\nSkipping line 252: expected 10 fields, saw 11\nSkipping line 257: expected 10 fields, saw 11\nSkipping line 270: expected 10 fields, saw 11\nSkipping line 271: expected 10 fields, saw 12\nSkipping line 278: expected 10 fields, saw 11\nSkipping line 291: expected 10 fields, saw 11\nSkipping line 297: expected 10 fields, saw 11\nSkipping line 298: expected 10 fields, saw 11\nSkipping line 299: expected 10 fields, saw 11\nSkipping line 300: expected 10 fields, saw 13\nSkipping line 303: expected 10 fields, saw 11\nSkipping line 308: expected 10 fields, saw 11\nSkipping line 333: expected 10 fields, saw 11\nSkipping line 337: expected 10 fields, saw 11\nSkipping line 348: expected 10 fields, saw 11\nSkipping line 367: expected 10 fields, saw 11\nSkipping line 379: expected 10 fields, saw 11\nSkipping line 385: expected 10 fields, saw 11\nSkipping line 396: expected 10 fields, saw 11\n'

,0,1,2,3,4,5,6,7,8,9
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,"1.\t""chevrolet",chevelle,"malibu"""
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,"1.\t""buick",skylark,"320"""
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,"1.\t""plymouth","satellite""",NaN
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,"1.\t""amc",rebel,"sst"""
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,"1.\t""ford","torino""",NaN

### Pre-Processing Data

In [3]:
data['10']= str(data.iloc[:,7])+' '+str(data.iloc[:,8])+' '+str(data.iloc[:,9])

In [4]:
data.drop([7,8,9],axis=1,inplace=True)
data.columns=['M/G','Cylinders','Displacement','Hp','Weight','Accn','Model Year','Origin / Car Name']c

SyntaxError: invalid syntax (<ipython-input-4-dd2131eb2dee>, line 2)

In [ ]:
sns.pairplot(data,x_vars=['Cylinders','Displacement','Hp','Weight','Accn'],y_vars='M/G')
plt.suptitle('Mileage of Car wrt Cylinders,CC,Horse Power,Weight,Accelaration')

In [ ]:
data.info()

In [ ]:
data.fillna(method='ffill',inplace=True)

In [ ]:
X = data.iloc[:,[1,2,3,4]].values
Y = data.iloc[:,0].values

In [ ]:
X

In [ ]:
Y

## Spliting Data into Train & Test Sets

In [ ]:
XTrain,XTest,YTrain,YTest=train_test_split(X,Y,test_size=1/4,random_state=42)

## SKLearn Linear Regression Model

In [ ]:
regsr = lm.LinearRegression()
regsr.fit(XTrain,YTrain)

In [ ]:
YPred = regsr.predict(XTest)

### Evaluating Model

In [ ]:
RMSET = np.sqrt(mean_squared_error(YTest,YPred))
R2 = r2_score(YTest,YPred)

In [ ]:
RMSET

In [ ]:
R2

## Stats Model OLS

### Creating OLS Model

In [ ]:
#With Constant Added
XTrain1 = sm.add_constant(XTrain)
olsmodel = sm.OLS(YTrain,XTrain1)#Yval First
prediction = olsmodel.fit()

### Evaluation Model

In [ ]:
prediction.summary()

In [ ]:
#For Prediction
Y_PredOLS = prediction.predict(XTest)