In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import scipy as sp

In [5]:
import seaborn as sns

In [6]:
import matplotlib as mpl

In [7]:
import sklearn as skl

In [12]:
import statsmodels as sm

In [13]:
pd.read_csv('pandas_tutorial_read.csv')

     2018-01-01 00:01:01;read;country_7;2458151261;SEO;North America
0     2018-01-01 00:03:20;read;country_7;2458151262;...
1     2018-01-01 00:04:01;read;country_7;2458151263;...
2     2018-01-01 00:04:02;read;country_7;2458151264;...
3     2018-01-01 00:05:03;read;country_8;2458151265;...
4     2018-01-01 00:05:42;read;country_6;2458151266;...
...                                                 ...
1789  2018-01-01 23:57:14;read;country_2;2458153051;...
1790  2018-01-01 23:58:33;read;country_8;2458153052;...
1791  2018-01-01 23:59:36;read;country_6;2458153053;...
1792  2018-01-01 23:59:36;read;country_7;2458153054;...
1793  2018-01-01 23:59:38;read;country_5;2458153055;...

[1794 rows x 1 columns]

In [15]:
pd.read_csv?

In [19]:
labels = ['a','b','c']
my_data = [21,52,63]
arr = np.array(my_data)
d = {'a':21,'b':52,'c':63}

print(labels)

['a', 'b', 'c']

In [ ]:
# slk